# WEB SCRAPING – ASSIGNMENT 2

In [15]:
# Importing libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

#Importing selenium webdriver
from selenium import webdriver
driver = webdriver.Chrome()

#Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings("ignore")

In [88]:
pwd

'C:\\Users\\nawal'

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [16]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

# entering “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg") #job search bar
search_field_location=driver.find_element_by_id('qsb-location-sugg') #location search bar
search_field_designation.send_keys("Data Analyst")
search_field_location.send_keys("Bangalore")


# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()


time.sleep(4)
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]


#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)

time.sleep(4)
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        
time.sleep(4)        
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]


time.sleep(4)
#scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)


time.sleep(4)
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"experience_required":experience_required[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_title":job_title[0:10]})
df

,experience_required,company_name,job_location,job_title
0,3-8 Yrs,Tech Data Advanced Solutions India Pvt Ltd,"Bangalore/Bengaluru, Mumbai (All Areas)",Senior Business Data Analyst
1,0-3 Yrs,(19 Reviews),Bangalore/Bengaluru(Bellandur),Data Analyst - Flipkart Analytics
2,,Flipkart,,Business Data Analyst - Database Design/Mining
3,,(3788 Reviews),,Urgent Openings For Data Analyst / Business An...
4,,,,Data Analyst
5,,,,Business Data Analyst(BigId) - Capco - Bangalore
6,,,,Senior Data Analyst
7,,,,Data Analyst
8,,,,Data Analyst - Marketing
9,,,,Data Analyst

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data. 
No

In [17]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

# entering “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")   #job search bar
search_field_location=driver.find_element_by_id('qsb-location-sugg')  #location search bar
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Bangalore")


# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()


time.sleep(4)
# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
full_job_description=[]


#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)

time.sleep(4)
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        
time.sleep(4)        
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)

# scraping the full job-description, for scraping full job description we have to go in each of the jobs separately
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        full_job_description.append(description[0])
    except NoSuchElementException :
        full_job_description.append("---")
        
        
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"job_title":job_title[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_description":full_job_description[0:10]})
df

,job_title,company_name,job_location,job_description
0,Senior Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,---
1,Data Scientist: Advanced Analytics,(10540 Reviews),Bangalore/Bengaluru,---
2,Senior Data Scientist | Fortune 500 Supermarke...,IBM India Pvt. Limited,,Work Experience:\n~2+ years of relevant experi...
3,Senior Data Scientist,(10540 Reviews),,Duties and Responsibilities\nResearch and Deve...
4,Senior Data Scientist- Data & Analytics,,,Interact with relevant teams to identify busin...
5,Forecasting Analyst/ Data Scientist (US Client),,,Roles and Responsibilities\nThe person will be...
6,Data Scientist,,,Roles and Responsibilities\nRapid business req...
7,Process Innovation Analyst - APAC/Data Scienti...,,,"Dear Candidate,\n\nThis is to keep you posted ..."
8,Data Scientist,,,Duties and Responsibilities\nResearch and Deve...
9,Data Scientist,,,Data Scientist @ Mobiotics\n\nRoles and Respon...

Q3: In this question you have to scrape data using the filters available on the webpage as shown below: 

You have to use the location and salary filter. 
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs 
The task will be done as shown in the below steps: 
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
3. Then click the search button. 
4. Then apply the location filter and salary filter by checking the respective boxes 
5. Then scrape the data for the first 10 jobs results you get. 
6. Finally create a dataframe of the scraped data.

In [87]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.naukri.com/"
driver.get(url)
time.sleep(6)

# entering “Data Scientist” in “Skill,Designations,Companies” field

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")   #job  search bar
search_field_designation.send_keys("Data Scientist")

# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()


# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]


time.sleep(3)
#finding the delhi/ncr check box
loc=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p")
loc.click()

time.sleep(2)
# finding the salary check box
slry_box = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p")
slry_box.click()

time.sleep(3)
#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
        

time.sleep(3)
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
        

time.sleep(3)
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
        

time.sleep(3)
#scraping the experience_required 
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in experience:
    if i.text is None :
            experience_required.append("--") 
    else:
            experience_required.append(i.text)
            
time.sleep(3)            
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"job_title":job_title[0:10],"experience_required":experience_required[0:10],"company_name":company_name[0:10],
                 "job_location":job_location[0:10]})
df

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p"}
  (Session info: chrome=95.0.4638.69)
Stacktrace:
Backtrace:
	Ordinal0 [0x008F0C43+2493507]
	Ordinal0 [0x0088A4B1+2073777]
	Ordinal0 [0x00792608+1058312]
	Ordinal0 [0x007BCAA4+1231524]
	Ordinal0 [0x007E6C62+1404002]
	Ordinal0 [0x007D597A+1333626]
	Ordinal0 [0x007E5038+1396792]
	Ordinal0 [0x007D580B+1333259]
	Ordinal0 [0x007B2314+1188628]
	Ordinal0 [0x007B316F+1192303]
	GetHandleVerifier [0x00A77BF6+1548950]
	GetHandleVerifier [0x00B2461C+2256060]
	GetHandleVerifier [0x0097C13B+518107]
	GetHandleVerifier [0x0097B1E0+514176]
	Ordinal0 [0x0088F53D+2094397]
	Ordinal0 [0x00893418+2110488]
	Ordinal0 [0x00893552+2110802]
	Ordinal0 [0x0089CE81+2150017]
	BaseThreadInitThunk [0x762BFA29+25]
	RtlGetAppContainerNamedObjectPath [0x76EE7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x76EE7A6E+238]

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
1. Brand 
2. Product Description 
3. Price 

The attributes which you have to scrape is ticked marked in the below image. 
To scrape the data you have to go through following steps: 
    
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon 
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual. 

4. After scraping data from the first page, go to the “Next” Button at the bottom of the page , then 
click on it. 
5. Now scrape data from this page as usual 
6. Repeat this until you get data for 100 sunglasses.

In [86]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/"
driver.get(url)

time.sleep(2)
#locating the search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys('sunglasses')

time.sleep(2)
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()


#creating the empty list
brand=[]
description=[]
price=[]


time.sleep(3)
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

ElementClickInterceptedException: Message: element click intercepted: Element <button class="L0Z3Pu" type="submit">...</button> is not clickable at point (556, 28). Other element would receive the click: <div class="_2hriZF _2rbIyg" tabindex="-1">...</div>
  (Session info: chrome=95.0.4638.69)
Stacktrace:
Backtrace:
	Ordinal0 [0x008F0C43+2493507]
	Ordinal0 [0x0088A4B1+2073777]
	Ordinal0 [0x00792608+1058312]
	Ordinal0 [0x007C2B39+1256249]
	Ordinal0 [0x007C0E78+1248888]
	Ordinal0 [0x007BEC4D+1240141]
	Ordinal0 [0x007BDA98+1235608]
	Ordinal0 [0x007B3787+1193863]
	Ordinal0 [0x007D5943+1333571]
	Ordinal0 [0x007B35A6+1193382]
	Ordinal0 [0x007D5A2A+1333802]
	Ordinal0 [0x007E5038+1396792]
	Ordinal0 [0x007D580B+1333259]
	Ordinal0 [0x007B2314+1188628]
	Ordinal0 [0x007B316F+1192303]
	GetHandleVerifier [0x00A77BF6+1548950]
	GetHandleVerifier [0x00B2461C+2256060]
	GetHandleVerifier [0x0097C13B+518107]
	GetHandleVerifier [0x0097B1E0+514176]
	Ordinal0 [0x0088F53D+2094397]
	Ordinal0 [0x00893418+2110488]
	Ordinal0 [0x00893552+2110802]
	Ordinal0 [0x0089CE81+2150017]
	BaseThreadInitThunk [0x762BFA29+25]
	RtlGetAppContainerNamedObjectPath [0x76EE7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x76EE7A6E+238]

In [83]:
#scrapping all product Url
product_url = []
start=0
end=3
for page in range(start,end):#for loop for scrapping 4 page
    url=driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in url:
        product_url.append(i.get_attribute('href'))
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))     #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        

# scraping discount from each product url
for product in product_url:
    driver.get(product)
    try:
        disc=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[3]/div/div[3]/div[1]/div/div[3]/span")# scraping the discount from the absolute xpath
        discount.append(disc.text)
    except NoSuchElementException:
        discount.append("No Discount")

IndexError: list index out of range

In [85]:
#creating a dataframe
df=pd.DataFrame({'Brand':brand,
                'Description':description,
                'Price':price
                })
#printing dataframe
df

ValueError: arrays must all be same length

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC 
TSVZAXUHGREPBFGI&marketplace. When you will open the above link you will reach to the below shown webpage . 
As shown in the above page you have to scrape the tick marked attributes. These are: 
1. Rating 
2. Review_summary 
3. Full review 
4. You have to scrape this data for first 100 reviews.

In [26]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

# Creating empty list
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

#scraping 10 pages url
url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)
        
        
        
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Number of Stars': stars,
                'Short Review': short_review,
               'Full Review': complete_review})
df

,Number of Stars,Short Review,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Best in the market!,Great iPhone very snappy experience as apple k...
...,...,...,...
85,5,Super!,This is my first ever iPhone.\nAnd I truly don...
86,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
87,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
88,5,Awesome,The phone is completely good\nAs far as camera...
89,3,Decent product,Everything u ll like it when u use this iPhone...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field. 
You have to scrape 4 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price 
As shown in the below image, you have to scrape the tick marked attributes.

In [52]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/"
driver.get(url)

time.sleep(2)
#close log_in window
log_in_pop_up = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
log_in_pop_up.click()

time.sleep(2)
#locating the search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.clear()
search_bar.send_keys('sneakers')

time.sleep(2)
#locating the button and clicking it to search for sneakers
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()


#creating the empty list
brand=[]
description=[]
price=[]


time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
        
        
time.sleep(2)        
# Since in some records not getting description so try from inside of urls
urls = []

for page in range(0,4):#for loop for scrapping 4 page
    
    product_url = driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in product_url:
        urls.append(i.get_attribute('href'))
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
time.sleep(2)        
for i in urls:
    driver.get(i)
    desc=driver.find_elements_by_xpath('//span[@class="B_NuCI"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list
time.sleep(2)        
time.sleep(3)        
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100]
                })
#printing dataframe
df

        Brand                                        Description Price
0     Rahapta                           Sneakers For Men  (Blue)  ₹549
1     Rahapta  Mesh Regular & Comfortable Casual Shoes Sneake...  ₹549
2     Numenzo                LEBRON 2.0 Sneakers For Men  (Navy)  ₹479
3   SCATCHITE                           Sneakers For Men  (Blue)  ₹398
4    CALCADOS            SM-322 Sneakers For Men  (Navy, Yellow)  ₹899
..        ...                                                ...   ...
95    Rahapta                         Sneakers For Men  (Yellow)  ₹549
96      Zorth  Luxury Fashionable Breathable Casual Sneakers ...  ₹449
97    tigonis                          Sneakers For Men  (White)  ₹399
98      SPARX  Stylish & Latest Shoes for Men & Boys Sneakers...  ₹762
99      SUSON                          Sneakers For Men  (Black)  ₹399

[100 rows x 3 columns]

Q7: Go to the link - https://www.myntra.com/shoes 
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image. 
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.

In [91]:
# open the automated webdriver
driver=webdriver.Chrome()

# open link in automated webdriver webpage
driver.get("https://www.myntra.com/shoes")

# clicking on price filter
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

# clicking on color filter
color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [92]:
# creating empty list
brand = []
description = []
price = []

# setting page limit upto which data needed to be scraped
start = 0
end = 2

#scraping data for brand
for page in range(start,end):  # for loop for page
    for i in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
        brand.append(i.text)
        
# scraping data for product description
    for i in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
        description.append(i.text)
        
# scraping data for price
    for i in driver.find_elements_by_xpath('//div[@class="product-price"]'):
        price.append(i.text)
        
# getting data from next page
    nxt_btn = driver.find_elements_by_xpath('//li[@class="pagination-next"]//a')
    try:
        driver.get(nxt_btn[1].get_attribute('href'))
    except:
        driver.get(nxt_btn[0].get_attribute('href'))
print(len(brand),len(description),len(price))

100 100 100

In [93]:
# creating data frame for the data scraped
shoe_data = pd.DataFrame({})
shoe_data['Shoe Brand'] = brand
shoe_data['Shoe Short Description'] = description
shoe_data['Shoe Price'] = price
shoe_data

,Shoe Brand,Shoe Short Description,Shoe Price
0,H&M,Chunky Combat Boots,Rs. 2699
1,Puma,Men Bent IDP Sneakers,Rs. 1599Rs. 3999(60% OFF)
2,Street Style Store,Women Suede High-Top Flat Boots,Rs. 1199Rs. 1999(Rs. 800 OFF)
3,Puma,Unisex Kent 2.0 IDP Sneakers,Rs. 1799Rs. 2999(40% OFF)
4,Campus,Men Running Shoes,Rs. 1529Rs. 1699(10% OFF)
...,...,...,...
95,Puma,Men Running Shoes,Rs. 3849Rs. 5499(30% OFF)
96,Xtep,Men Running Shoes,Rs. 3279Rs. 4099(20% OFF)
97,El Paso,Women High-Top Flat Boots,Rs. 1299Rs. 4799(Rs. 3500 OFF)
98,Newfeel By Decathlon,Men Walking Shoes,Rs. 1699Rs. 1999(15% OFF)
99,Nike,Men FLIGHT LEGACY Sneakers,Rs. 7995

Q8: Go to webpage https://www.amazon.in/ 
Enter “Laptop” in the search field and then click the search icon. 
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image: 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
1. Title 
2. Ratings 
3. Price 
As shown in the below image as the tick marked attributes.

In [94]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.amazon.in/ref=nav_logo"
driver.get(url)


#creating the empty list
Title=[]
Ratings=[]
price=[]

time.sleep(2)
#locating the search bar
search_bar = driver.find_element_by_id("twotabsearchtextbox")    # Locating searc_bar by id
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys("laptops")                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')       # Locating search_button by xpath
search_button.click()    

time.sleep(2)
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break
        
        
#Scrapping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)
    
    
#scrapping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

#locating Ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException:
        Ratings.append("NO rating")#appending the No rating if no rating is there
        
#creating a dataframe
df=pd.DataFrame({'Title':Title,
                'Price':price,
                'Ratings':Ratings})
#printing dataframe
df

                                               Title     Price       Ratings
0  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...    84,990  4.3 out of 5
1  HP Envy 11th Gen Intel Core i7 14-inch(35.6 cm...  1,23,190     NO rating
2  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...    84,990  4.3 out of 5
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...    56,990  4.2 out of 5
4  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...    95,890  4.6 out of 5
5  HP Pavilion x360 (2021) 11th Gen Intel Core i7...  1,00,900    4 out of 5
6  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...    85,990  4.3 out of 5
7  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    93,990    4 out of 5
8  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...    89,700  3.9 out of 5
9  HP Pavilion 13(2021) 11th Gen Intel Core i7 13...    89,990  4.6 out of 5

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps: 
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image 
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter 
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter 
“Noida” and select location “Noida”. 
5. Then scrape the data for the first 10 jobs results you get on the above shown page. 
6. Finally create a dataframe of the scraped data.

In [66]:
# pick the browser
driver=webdriver.Chrome()

# open url webpage
driver.get("https://www.ambitionbox.com/jobs/search?tag=data%20science")

# scrape the company info such as name and rating
company_info=driver.find_elements_by_xpath("//div[@class='company-info']")

# info in the form of wbelement
company_info

[<selenium.webdriver.remote.webelement.WebElement (session="56edd1457ad33850dc27d8273f82c8ba", element="b590d00d-9146-48ef-9681-7462c497abe9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56edd1457ad33850dc27d8273f82c8ba", element="aecde057-e75b-4267-9d20-2e76113d428d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56edd1457ad33850dc27d8273f82c8ba", element="a191814e-d2b0-408d-85ee-9eb4d428ab6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56edd1457ad33850dc27d8273f82c8ba", element="58adcd44-8ac6-426a-9bc8-f043fd1c0a05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56edd1457ad33850dc27d8273f82c8ba", element="196a9bdc-7ada-47b2-a662-a70aa5451a95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56edd1457ad33850dc27d8273f82c8ba", element="6c12704e-0cd7-4758-b696-4951f34eaef0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56edd1457ad33850dc27d8273f82c8ba", element="cc744e88-2b07-46a8-9c30-f33b6f458885")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56edd1457ad33850dc27d8273f82c8ba", element="0689da9e-d05f-4868-bc35-1e9c5755d956")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56edd1457ad33850dc27d8273f82c8ba", element="25a8cf8e-f692-41f3-a4a8-11028831829b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56edd1457ad33850dc27d8273f82c8ba", element="2ad6e29d-d70e-43d0-8a3c-ffa4c70c525b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="56edd1457ad33850dc27d8273f82c8ba", element="0478bc31-c017-46df-b0e6-adccd279b695")>]

In [67]:
# get text from wbelement info and append it into new empty list named 
company_Info=[]
for i in company_info:
    company_Info.append(i.text)
    
# check the list
company_Info

['Bayer Group\n · \n4.4\nbased on 675 Reviews',
 'Bayer Group\n4.4\n(675 Reviews)',
 'PFIZER LIMITED\n4.2\n(1.3k Reviews)',
 'AT and T Global Business Services India P. Ltd.\n4.4\n(210 Reviews)',
 'Novartis Healthcare Pvt. Ltd.\n4.3\n(735 Reviews)',
 'Intel Technology India Pvt Ltd\n4.3\n(261 Reviews)',
 'JP Morgan Chase\n4.1\n(2.2k Reviews)',
 'Amazon Development Centre (India) Pvt. Ltd.\n4.2\n(9.1k Reviews)',
 'Novartis Healthcare Pvt. Ltd.\n4.3\n(735 Reviews)',
 'Novartis Healthcare Pvt. Ltd.\n4.3\n(735 Reviews)',
 'IBM India Pvt. Limited\n4.1\n(10.5k Reviews)']

In [68]:
# name and rating can be extrat like 
company_Info[0] #pick 1st item of list

company_Info[0].replace('\n',',') # replace the \n to ,

# make list of name and rating
company_Info[0].replace('\n',',').split(',')

# pick name of the company 
company_Info[0].replace('\n',',').split(',')[0]

# pick the rating of the company
company_Info[1].replace('\n',',').split(',')[1]

'4.4'

In [69]:
# list the company name and rating
company_Name=[]
company_rating=[]
list_n=list(range(0,10))
for i in list_n:
    company_Name.append(company_Info[i].replace('\n',',').split(',')[0])
    #
    company_rating.append(company_Info[i].replace('\n',',').split(',')[1])
    
company_Name

['Bayer Group',
 'Bayer Group',
 'PFIZER LIMITED',
 'AT and T Global Business Services India P. Ltd.',
 'Novartis Healthcare Pvt. Ltd.',
 'Intel Technology India Pvt Ltd',
 'JP Morgan Chase',
 'Amazon Development Centre (India) Pvt. Ltd.',
 'Novartis Healthcare Pvt. Ltd.',
 'Novartis Healthcare Pvt. Ltd.']

In [70]:
company_rating

[' · ', '4.4', '4.2', '4.4', '4.3', '4.3', '4.1', '4.2', '4.3', '4.3']

In [71]:
# acvertisements have posted for how many days
days_ago=[]
for i in driver.find_elements_by_xpath("//span[@class='body-small-l']"):
    # class='body-small-l' attribute is related to two info time and publisher
    days_ago.append(i.text)
    
# class='body-small-l' attribute is related to two info time and publisher
days_ago

Days_ago=days_ago[0:20:2]

# list of acvertisements have posted for how many days.
Days_ago

# create dataframe from scraped data
job=pd.DataFrame()
job['Company Name']=company_Name
job['Company Rating']=company_rating
job['Days Ago']=Days_ago

job

                                      Company Name Company Rating  Days Ago
0                                      Bayer Group             ·     4d ago
1                                      Bayer Group            4.4   2hr ago
2                                   PFIZER LIMITED            4.2   2hr ago
3  AT and T Global Business Services India P. Ltd.            4.4   3hr ago
4                    Novartis Healthcare Pvt. Ltd.            4.3   2hr ago
5                   Intel Technology India Pvt Ltd            4.3  12hr ago
6                                  JP Morgan Chase            4.1    4d ago
7      Amazon Development Centre (India) Pvt. Ltd.            4.2    4d ago
8                    Novartis Healthcare Pvt. Ltd.            4.3    4d ago
9                    Novartis Healthcare Pvt. Ltd.            4.3   8hr ago

Q10: Write a python program to scrape the salary data for Data Scientist designation. 
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. 
The above task will be, done as shown in the below steps: 
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image. 
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”. 
You have to scrape the data ticked in the above image. 
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required. 
5. Store the data in a dataframe.

In [73]:
# open browser
driver=webdriver.Chrome()
# open url webpage
url="https://www.ambitionbox.com/profile/data-scientist-salary"
driver.get(url)
# get the div tag in which name and salary info is givern
div=driver.find_elements_by_xpath("//div[@class='name']")
div

[<selenium.webdriver.remote.webelement.WebElement (session="d5c39d7334cc742d9dfa567139f3d417", element="12230e0d-65e5-43b0-8edf-42fbe990a082")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5c39d7334cc742d9dfa567139f3d417", element="0be5940f-7f7c-4f23-9865-a0a76a28610a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5c39d7334cc742d9dfa567139f3d417", element="0ab5f5e2-5e4e-44b6-80c1-08dd208d0b9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5c39d7334cc742d9dfa567139f3d417", element="bd21ad21-3e6c-484d-b541-03605c7aa398")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5c39d7334cc742d9dfa567139f3d417", element="8c423f96-d762-4f0d-94c2-6b7867af0ae0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5c39d7334cc742d9dfa567139f3d417", element="17f710f7-8b2e-47ef-9c13-48f33490b599")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5c39d7334cc742d9dfa567139f3d417", element="7140d44f-13e8-448f-8740-06b32ad59b4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5c39d7334cc742d9dfa567139f3d417", element="32e7265a-9369-47d9-b186-9766718a20ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5c39d7334cc742d9dfa567139f3d417", element="3b8149ce-db34-47a0-bcce-880f8ff0a073")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d5c39d7334cc742d9dfa567139f3d417", element="008667e0-d6dd-4036-bcb3-df90fc6372b3")>]

In [74]:
# div tag consist of company name and salary info
div[0].text

# replace \n into ,
div[0].text.replace('\n',',')

# split the string
div[0].text.replace('\n',',').split(',')

# get the name of company
# div[i].text.replace('\n',',').split(',')[j]
# different i gives different company name 
# range of j is two for j=0 it gives company name and for j=1 get salary count
print(div[4].text.replace('\n',',').split(',')[0])
print(div[4].text.replace('\n',',').split(',')[1])

Capgemini
(220 Salaries)

In [75]:
# make list of name and salary info
name=[]
salary_count=[]
list_n=list(range(0,10))
for i in list_n:
    name.append(div[i].text.replace('\n',',').split(',')[0])
    salary_count.append(div[i].text.replace('\n',',').split(',')[1])
    
name

['TCS',
 'Accenture',
 'IBM',
 'Cognizant',
 'Capgemini',
 'Tech Mahindra',
 'Infosys',
 'Wipro',
 'Ericsson',
 'HCL Technologies']

In [76]:
salary_count

['(594 Salaries)',
 '(355 Salaries)',
 '(289 Salaries)',
 '(233 Salaries)',
 '(220 Salaries)',
 '(182 Salaries)',
 '(166 Salaries)',
 '(164 Salaries)',
 '(123 Salaries)',
 '(116 Salaries)']

In [77]:
# get the div tag for experience data scraping
div2=driver.find_elements_by_xpath("//div[@class='salaries one-line sbold-list-header']")
# make the list of experience required
experience_req=[]
for i in div2:
    experience_req.append(i.text)
experience_req

['2-9 yrs exp',
 '2-9 yrs exp',
 '2-12 yrs exp',
 '2-11 yrs exp',
 '2-8 yrs exp',
 '2-13 yrs exp',
 '2-8 yrs exp',
 '2-9 yrs exp',
 '2-12 yrs exp',
 '2-10 yrs exp']

In [78]:
# get the data about salary range
salary_range=[]
for i in driver.find_elements_by_xpath("//div[@class='result-col salary-range']"):
    salary_range.append(i.text)
salary_range

['₹ 7.3L\n₹ 4.4L\n₹ 15.0L',
 '₹ 11.7L\n₹ 5.4L\n₹ 22.0L',
 '₹ 11.6L\n₹ 5.0L\n₹ 22.5L',
 '₹ 9.4L\n₹ 4.9L\n₹ 17.0L',
 '₹ 8.2L\n₹ 4.6L\n₹ 14.3L',
 '₹ 7.7L\n₹ 4.2L\n₹ 16.4L',
 '₹ 8.7L\n₹ 4.5L\n₹ 25.0L',
 '₹ 9.2L\n₹ 4.3L\n₹ 18.0L',
 '₹ 12.9L\n₹ 5.0L\n₹ 25.0L',
 '₹ 9.0L\n₹ 4.5L\n₹ 19.0L']

In [79]:
# scrap minimum, average, and maximum salary
min_salary=[]
average_salary=[]
max_salary=[]
for i in list_n:
    min_salary.append(salary_range[i].replace('\n',',').split(',')[1])
    average_salary.append(salary_range[i].replace('\n',',').split(',')[0])
    max_salary.append(salary_range[i].replace('\n',',').split(',')[2])
print(min_salary)
print(average_salary)
print(max_salary)

['₹ 4.4L', '₹ 5.4L', '₹ 5.0L', '₹ 4.9L', '₹ 4.6L', '₹ 4.2L', '₹ 4.5L', '₹ 4.3L', '₹ 5.0L', '₹ 4.5L']
['₹ 7.3L', '₹ 11.7L', '₹ 11.6L', '₹ 9.4L', '₹ 8.2L', '₹ 7.7L', '₹ 8.7L', '₹ 9.2L', '₹ 12.9L', '₹ 9.0L']
['₹ 15.0L', '₹ 22.0L', '₹ 22.5L', '₹ 17.0L', '₹ 14.3L', '₹ 16.4L', '₹ 25.0L', '₹ 18.0L', '₹ 25.0L', '₹ 19.0L']

In [80]:
# create dataframe from scraped data
job_info=pd.DataFrame()
job_info['company Name']=name
job_info['salary count']=salary_count
job_info['experience required']=experience_req
job_info['minimum salary']=min_salary
job_info['average salary']=average_salary
job_info['maximum salary']=max_salary
# show the dataframe
job_info

,company Name,salary count,experience required,minimum salary,average salary,maximum salary
0,TCS,(594 Salaries),2-9 yrs exp,₹ 4.4L,₹ 7.3L,₹ 15.0L
1,Accenture,(355 Salaries),2-9 yrs exp,₹ 5.4L,₹ 11.7L,₹ 22.0L
2,IBM,(289 Salaries),2-12 yrs exp,₹ 5.0L,₹ 11.6L,₹ 22.5L
3,Cognizant,(233 Salaries),2-11 yrs exp,₹ 4.9L,₹ 9.4L,₹ 17.0L
4,Capgemini,(220 Salaries),2-8 yrs exp,₹ 4.6L,₹ 8.2L,₹ 14.3L
5,Tech Mahindra,(182 Salaries),2-13 yrs exp,₹ 4.2L,₹ 7.7L,₹ 16.4L
6,Infosys,(166 Salaries),2-8 yrs exp,₹ 4.5L,₹ 8.7L,₹ 25.0L
7,Wipro,(164 Salaries),2-9 yrs exp,₹ 4.3L,₹ 9.2L,₹ 18.0L
8,Ericsson,(123 Salaries),2-12 yrs exp,₹ 5.0L,₹ 12.9L,₹ 25.0L
9,HCL Technologies,(116 Salaries),2-10 yrs exp,₹ 4.5L,₹ 9.0L,₹ 19.0L